# Dataset Information

Attribute Information:

1. sepal length in cm
2. sepal width in cm
3. petal length in cm
4. petal width in cm
5. class:
-- Iris Setosa
-- Iris Versicolour
-- Iris Virginica

In [ ]:
# define objective-------
# collect the data------ 
# import lib--
# load the data------
# data analysis-----
# data preprocessing-----
# split your data into (train,test) split ex: (1000 rows)-----(90,10)(80,20)(70,30)-------
# train your model----
# test your model----
# find accuracy----

# Import modules

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

# Loading the dataset

In [5]:
df = pd.read_csv('Iris.csv')

In [10]:
df.tail(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [11]:
df.info() #data type info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [13]:
df.describe() #all stats

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [14]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [15]:
# delete a column
df = df.drop('Id',axis=1)
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [20]:
#sepall= df['SepalLengthCm']

In [21]:
#sepall.head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: SepalLengthCm, dtype: float64

In [23]:
#abc=df.SepalLengthCm

In [25]:
#abc

In [27]:
# to display no. of samples on each class
df['Species'].value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: Species, dtype: int64

# Preprocessing the dataset

In [29]:
# check for null values
df.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

# Label Encoder

In machine learning, we usually deal with datasets which contains multiple labels in one or more than one columns. These labels can be in the form of words or numbers. Label Encoding refers to converting the labels into numeric form so as to convert it into the machine-readable form

In [31]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [32]:
df['Species']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [33]:
df['Species'] = le.fit_transform(df['Species'])
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [35]:
#df.info()

# Model Training

In [75]:
from sklearn.model_selection import train_test_split
X = df.drop('Species',axis=1)
Y = df['Species']
x_train, x_test, y_train, y_test = train_test_split(X, Y,test_size=0.1)

In [76]:
len(y_test)

15

In [77]:
# logistic regression 
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [78]:
# model training
model.fit(x_train, y_train)

C:\Users\Babji Shiva\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [79]:
x_test

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
58             6.6           2.9            4.6           1.3
41             4.5           2.3            1.3           0.3
117            7.7           3.8            6.7           2.2
78             6.0           2.9            4.5           1.5
13             4.3           3.0            1.1           0.1
85             6.0           3.4            4.5           1.6
144            6.7           3.3            5.7           2.5
147            6.5           3.0            5.2           2.0
134            6.1           2.6            5.6           1.4
0              5.1           3.5            1.4           0.2
12             4.8           3.0            1.4           0.1
51             6.4           3.2            4.5           1.5
52             6.9           3.1            4.9           1.5
10             5.4           3.7            1.5           0.2
132            6.4           2.8            5.6           2.2

In [80]:
y_test

58     1
41     0
117    2
78     1
13     0
85     1
144    2
147    2
134    2
0      0
12     0
51     1
52     1
10     0
132    2
Name: Species, dtype: int32

In [81]:
model.predict(x_test)

array([1, 0, 2, 1, 0, 1, 2, 2, 2, 0, 0, 1, 1, 0, 2])

In [85]:
model.predict([[7.6,6.9,6.6,9.3]])

array([2])

In [82]:
model.score(x_test,y_test)

1.0

In [83]:
print("Accuracy: ",model.score(x_test, y_test) * 100)

Accuracy:  100.0

In [86]:
# decision tree
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [87]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [88]:
# print metric to get performance
print("Accuracy: ",model.score(x_test, y_test) * 100)

Accuracy:  100.0